* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://4kwallpapers.com/images/wallpapers/lord-krishna-1920x1080-16906.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.section-2 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)),
        url("https://wallpaper.dog/large/20519759.jpg");
}

.section-3 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)),
        url("https://static.vecteezy.com/system/resources/previews/029/631/156/non_2x/3d-illustration-of-the-indian-god-hanuman-with-a-floral-background-surrounding-it-free-photo.jpeg");
    background-attachment: fixed;
}

.section-4 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)),
        url("https://i.pinimg.com/736x/c5/b8/25/c5b825b1acde4e559d2a95ec13aed989.jpg");
}

h2 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

p {
    font-size: 20px;
    color: #fff;
}